<form [formGroup]="articleForm" (ngSubmit)="enviarFormulario()" class="mt-3">
  <div class="mb-3">
    <label for="" class="form-label">Codigo</label>
    <input
      type="number"
      class="form-control"
      formControlName="code"
    />
    @if (articleForm.get('code')?.hasError('required')&&
    articleForm.get('code')?.touched) {
    <span class="text-danger">Introduzca un codigo</span>
    } @else if (articleForm.get('code')?.hasError('pattern')) {
    <span class="text-danger">El codigo ha de ser un numero</span>
    } @else if (articleForm.get("code")?.hasError('min')) {
    <span class="text-danger">El codigo ha de ser un numero positivo</span>
    }
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Descripción</label>
    <input
      type="text"
      class="form-control"
      formControlName="description"
    />
    @if (articleForm.get('description')?.hasError('required') &&
    articleForm.get('description')?.touched) {
    <span class="text-danger">Introduzca una descripción</span>
    }
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Precio</label>
    <input
      type="number"
      class="form-control"
      formControlName="price"
    />
    @if (articleForm.get('price')?.hasError('required')&&
    articleForm.get('price')?.touched) {
    <span class="text-danger">Introduzca un precio</span>
    } @else if (articleForm.get('price')?.hasError('pattern')) {
    <span class="text-danger">El precio ha de ser un numero</span>
    } @else if (articleForm.get("price")?.hasError('min')) {
    <span class="text-danger">El precio ha de ser un numero positivo</span>
    }
  </div>
  <button [disabled]="!articleForm.valid || article !== undefined" type="submit" class="btn btn-primary">
    Agregar
  </button>
  <button [disabled]="!articleForm.valid || article === undefined" type="submit" class="btn btn-primary">
    Modificar
  </button>
</form>
